fieldset {
  width: 450px;
  height: 450px;
  border: #AFDCEC solid;
}

form {
  margin: 0px 20px 0 20px;
}

table {
  border-collapse: separate;
  border-spacing: 15px 15px;
}

button {
	background-color: green;
  color: #f0f0f0;
  border:3px solid #AFDCEC;
  border-radius: 10px;
  width: 30%;
  height: 46px;
  margin-left: 140px;
  text-align: center;
}

label {
  font-size: 15px;
}

#input {
  width: 220px;
}

.box {
  border: #AFDCEC solid;
  line-height: 20px;
  padding: 3px 0px 5px 0px;
}

.td {
  background-color: #AFDCEC;
  color: #f0f0f0;
  vertical-align: bottom;
  text-align: center;
  padding: 3px 12px 5px 15px;
  line-height: 20px;
  border: #AFDCEC solid;
  border-width: 1.9px;
}

.piccd {
  background-color: #AFDCEC;
  color: #f0f0f0;
  vertical-align: bottom;
  text-align: center;
  padding: 3px 12px 5px 15px;
  line-height: 20px;
  border: #AFDCEC solid;
  border-width: 1.9px;
}

.gender {
  margin-left: 15px;
  margin-right: 10px;
}

.error {
  padding-left: 15px;
  color: red;
}

.empty {
  padding-left: 1px;
}

label span { color: red; }